<main>
  <app-button (click)="updateOrAddPatients()" buttonClass="add">Add</app-button>
  <section>
    <app-edit-modal
      *ngIf="modalService.modal | async"
      [item]="item"
    ></app-edit-modal>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let item of titleArray">
            {{ item }}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="itemArray$ | async as itemArray">
        <tr *ngFor="let item of itemArray">
          <td>{{ item?.name }}</td>
          <td>{{ item?.lastName }}</td>
          <td>{{ item?.personalNumber }}</td>
          <td>{{ item?.birthDate }}</td>
          <td>{{ item?.gender }}</td>
          <td>{{ item?.city }}</td>
          <td>{{ item?.address }}</td>
          <td>
            <app-button (click)="updateOrAddPatients(item)" buttonClass="edit"
              >Update</app-button
            >
          </td>
          <td>
            <app-button (click)="deletePatients(item.id)" buttonClass="delete"
              >Delete</app-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
